.status-area {
    table-layout: fixed;

    overflow-y: auto;

    width: 100%;
    overflow-x: hidden;

    background-color: var(--blue6);
    color: var(--white2);
    font-size: small;
}

.status-area td {
    border: none;
}

.status-area tr {
    height: 7ch;
}

.status-connection-width {
    width: 4em;
}

.status-tally-width {
    width: 10em;
}

.status-buttons-width {
    width: 11em;
}

.status-tally-area {
    /* background-color: var(--blue1); */
    background-color: var(--grey3);
    text-align: center;
    font-size: medium;
    font-weight: bolder;
}

.status-text-area {
    vertical-align: top;
}

.status-text-area--warn {
    background-color: var(--red6);
    /* color: var(--yellow1) */
}

.status-buttons-area {
    text-align: right;
}