.call-btn {
    --button-bg: var(--green5);
    --button-bg-hover: var(--green4);
    --button-bg-hold: var(--green6);
}

.set-btn {
    --button-bg: var(--color-warning);
    --button-bg-hover: var(--color-warning-hover);
    --button-bg-hold: var(--color-warning-hold);    
}

.presets-table {
    border-collapse: collapse;
    width: 100%;   
}

.presets-table th, td {
    border-bottom: 1px solid;
    border-color: var(--grey1);
}

.presets-table th {
    font-style: italic;
    padding-left: 8px;
    padding-right: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.presets-table td {
    padding-left: 8px;
    padding-right: 4px;
}

.presets-table--advisory {
    color: var(--red1);
    text-align: center;
    padding: 10px;
}

.presets-table--highlight {
    background-color: var(--green2);
    color: black;
    transition: background-color 0.3s ease;
}
