.call-btn {
    --button-bg: var(--green5);
    --button-bg-hover: var(--green4);
    --button-bg-hold: var(--green6);
}

.set-btn {
    --button-bg: var(--green6);
    --button-bg-hover: var(--green5);
    --button-bg-hold: var(--green4);    
}

.set-btn.armed {
    --button-bg: var(--green2);
    --button-bg-hover: var(--green1);
    --button-text: black;
}

.presets-table {
    border-collapse: collapse;
    width: 100%;   
}

.presets-table th, td {
    border-bottom: 1px solid;
    border-color: var(--grey1);
}

.presets-table th {
    font-style: italic;
    padding-left: 12px;
    padding-right: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.presets-table td {
    padding-left: 12px;
    padding-right: 0px;
}

.presets-table--advisory {
    color: var(--red1);
    text-align: center;
    padding: 10px;
}

.presets-table--highlight {
    background-color: var(--yellow1);
    color: black;
    transition: background-color 0.3s ease;
}
