.call-btn {
    background-color: var(--green5);
    transition: all 0.2s ease;
}

.call-btn:hover {
    background-color: var(--green4);
}

.set-btn {
    opacity: 0.5;
    cursor: not-allowed;
    transition: all 0.2s ease;
}

.set-btn.armed {
    opacity: 1;
    cursor: pointer;
    background-color: var(--green2);
    color: #000;
}

.set-btn.armed:hover {
    background-color: var(--green3);
}

.presets-table {
    border-collapse: collapse;
    width: 100%;   
}

.presets-table th, td {
    border-bottom: 1px solid;
    border-color: var(--grey1);
}

.presets-table th {
    font-style: italic;
    padding-left: 12px;
    padding-right: 0px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.presets-table td {
    padding-left: 12px;
    padding-right: 0px;
}

.presets-table--advisory {
    color: var(--red1);
    text-align: center;
    padding: 10px;
}

.presets-table--highlight {
    background-color: var(--yellow1);
    color: black;
    transition: background-color 0.3s ease;
}
